services:
  web:
    command: dev
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - .:/app
    environment:
      - DJANGO_CONFIGURATION=Dev
      - DJANGO_DEBUG=True
      - CELERY_TASK_ALWAYS_EAGER=True
      - WEB_PORT=${WEB_PORT:-8000}

  celery-worker:
    profiles:
      - celery
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - .:/app
    environment:
      - DJANGO_CONFIGURATION=Dev
